dy {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    background: #ffffff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    color: #333;
}

/* HERO SECTION */
.hero {
    background: url('https://images.unsplash.com/photo-1503341455253-b2e723bb3dbb') center/cover no-repeat;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 10px black;
    flex-direction: column;
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    font-size: 20px;
}

/* PRODUCTS GRID */
.products {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: gray;
    font-size: 14px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.btn {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: #444;
}
    
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
    

/* FOOTER */
.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;

}
